{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<title>Movie Streamer Application</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="{% static 'css/loginstyle.css' %}" rel="stylesheet" type="text/css"/>

<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
<div class="main-w3layouts wrapper">
  <h1>Login</h1>
  <div class="main-agileinfo">
    <div class="agileits-top">
      <form action="#" method="post">
        {% csrf_token %}
        <label class = "text" type="text" name="Username">E-mail</label>
                {{name.email}}
        <label class = "text" type="text" name="Username">Password</label>
                {{name.password}}
        <input type="submit" value="Login">
      </form>
    </div>
  </div>
</div>
</body>
</html>

{% endblock content %}
